/* ===== =====  Poppins Google Font  ===== =====  */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/* ===== =====>>  Universal Selector  <<===== =====  */
* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.contactInfo.language li {
  margin-bottom: 15px; /* Add spacing between language entries */
  text-align: left; /* Align language names to the left */
}

.contactInfo.language div {
  height: 10px; /* Set the height of the percentage bar */
  background-color: #3c73c2; /* Set the color of the percentage bar */
  display: inline-block; /* Display the div inline with the span */
}
/* ===== =====>>  Body Font Size  <<===== =====  */
html {
  font-size: 10px;
}

/* ===== =====>> Css Variables  <<===== =====  */
:root {
  /* =====>>  Font Color  <<===== */
  --f1-color: #fff;
  --f2-color: #000;
  --f3-color: rgba(0, 0, 0, 0.8);
  --f4-color: rgba(0, 0, 0, 0.6);
  --f5-color: #0099cc;
  --f6-color: #88cee6;

  /* =====>>  Background Color  <<===== */
  --bg1-color: #fff;
  --bg2-color: #000;
  --bg3-color: #33ccff;
  --bg4-color: #33cc33;
  --bg5-color: #0099cc;
  --bg6-color: rgba(0, 0, 0, 0.4);
  --bg7-color: rgba(0, 0, 0, 0.2);
  --glass-bg: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  --C-lg-bg: linear-gradient(45deg, #ff3399, #ff9933);

  /* ===== =====>>  Font Size  <<===== =====  */
  --xxxl-fs: 2.2rem;
  --xxl-fs: 1.8rem;
  --xl-fs: 1.6rem;
  --l-fs: 1.4rem;
  --m-fs: 1.2rem;
  --s-fs: 1.1rem;
  --xs-fs: 1rem;

  /* =====>>  Margin  <<===== */
  --m-2-5: 2.5rem;
  --m-1-8: 1.8rem;
  --m-1-5: 1.5rem;
  --m-0-6: 0.6rem;
  --m-0-5: 0.5rem;
  --m-0-3: 0.3rem;

  /* =====>>  Padding  <<===== */
  --p-2-5: 2.5rem;
  --p-1-5: 1.5rem;
  --p-1-0: 1rem;
  --p-0-8: 0.8rem;
  --p-0-5: 0.5rem;
  --p-0-4: 0.4rem;
  --p-0-3: 0.3rem;
}

/* ===== =====>>  Body Css  <<===== =====  */

/* ===== =====>>  Body Main-Background Css  <<===== =====  */

/* ===== =====>>  Main-Container Css  <<===== =====  */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "userProfile userDetails"
    "work_skills timeline_about"
    "work_skills timeline_about";
  width: 85%;
  padding: var(--p-1-5);
}

/* ===== =====>>  Container Cards Grid-Area Css Start  <<===== =====  */
header {
  grid-area: header;
}

.userProfile {
  grid-area: userProfile;
}

.work_skills {
  grid-area: work_skills;
}

.userDetails {
  grid-area: userDetails;
}

.timeline_about {
  grid-area: timeline_about;
}

/* ===== =====>>  Container Cards Css  <<===== =====  */
.container .card {
  padding: var(--p-1-5);
}

/* ===== =====>>  Container Header/Navbar Css  <<===== =====  */
.container header {
  padding: 0 var(--p-2-5);
}

.container header .brandLogo figure img {
  width: 3.5rem;
  height: 3.5rem;
}

.container header .brandLogo span {
  font-size: var(--xl-fs);
  font-weight: 700;
  margin-left: var(--m-0-5);
}

/* ===== =====>>  User Main-Profile Css Start  <<===== ===== */
.container .userProfile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
}

.container .userProfile .profile figure img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}

/* ===== =====>>  User Details Css Start  <<===== ===== */
.userDetails {
  position: relative;
  padding: var(--p-1-5) var(--p-2-5);
  margin: 0px 0px 0px 0px !important;
}

.userDetails .userName .map .ri {
  margin-right: var(--m-0-3);
  font-size: var(--m-fs);
}

.userDetails .userName .map span {
  font-size: var(--s-fs);
  color: var(--f3-color);
  font-weight: 700;
}

.userDetails .userName p {
  font-size: var(--m-fs);
  font-weight: 700;
  color: var(--f5-color);
  margin-bottom: var(--m-1-8);
}

.userDetails .rank {
  position: relative;
  margin-bottom: var(--m-1-8);
}

.userDetails .rank .heading {
  font-size: var(--xs-fs);
  color: var(--f4-color);
  text-transform: uppercase;
  margin-bottom: var(--m-0-6);
}

.userDetails .rank span {
  font-size: var(--xxl-fs);
  font-weight: 700;
}

.userDetails .rank .rating {
  position: absolute;
  top: 2.7rem;
  left: 3.5rem;
}
.collapse ul li a:hover {
  color: rgb(245, 165, 5) !important;
}
.Register:hover {
  color: rgb(245, 165, 5) !important;
  border: 2px solid rgb(245, 165, 5) !important;
}
.chat-box {
  width: 300px;
  margin: 50px auto;
  background-color: #f1fbff;
  border: 1px solid #080908;
  border-radius: 5px;
  overflow: hidden;
}
i:hover {
  color: #e23838;
}
.messages {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
  display: flex;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-content {
  flex: 1;
  box-shadow: 1px 1px 3px 1px;
  background-color: hsl(144, 75%, 84%);
  padding: 10px;
  border-radius: 5px;
}

.input-box {
  display: flex;
  padding: 10px;
  background-color: #3f2c0f30;
}

.input-box input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 3px;
}

.input-box button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.userDetails .rank .rating .rate {
  color: var(--f5-color);
  font-size: var(--l-fs);
}

.userDetails .rank .rating .underrate {
  color: var(--f6-color);
}

.userDetails .btns ul,
.userDetails .btns ul li {
  display: flex;
  align-items: center;
}

.userDetails .btns ul li {
  margin-right: var(--m-2-5);
  border-radius: 0.5rem;
}

.userDetails .btns ul li .ri {
  margin-right: var(--m-0-5);
  font-size: var(--xl-fs);
}

.userDetails .btns ul li a {
  font-size: var(--l-fs);
  color: var(--f2-color);
  font-weight: 500;
}

.userDetails .btns ul .active {
  background: #e6f2ff;
  padding: var(--p-0-5) var(--p-1-5);
}

.userDetails .btns ul .active a,
.userDetails .btns ul .active .ri {
  color: var(--f5-color);
}

/* ===== =====>>  Timeline & About Css Start  <<===== ===== */
.timeline_about {
  padding: var(--p-2-5);
}

.timeline_about .tabs ul::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--bg7-color);
}

.timeline_about .tabs ul li {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: var(--m-2-5);
  padding-bottom: var(--p-0-8);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  /* ===== =====>>  Container Css Start  <<===== ===== */
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "userProfile"
      "userDetails"
      "work_skills"
      "timeline_about";
    overflow-x: hidden;
    overflow-y: inherit;
    padding: 0;
    width: 90%;
    height: 100%;
    box-shadow: none;
  }

  /* ===== =====>>  Container Card Css Start  <<===== ===== */
  .container .card {
    backdrop-filter: none;
  }

  .userDetails {
    margin-bottom: 3rem;
  }

  .container::before,
  .container::after {
    display: none;
  }

  /* ===== =====>>  Header/Navbar Css Start  <<===== ===== */
  .container header {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    overflow: initial;
  }
}

@media screen and (max-width: 350px) {
  .main_bg {
    animation: none;
  }
}
